{% extends 'base.html' %}

{% block title %}
    POSTS PAGE
{% endblock %}

{% block content %}
    <h1>ALL POSTS</h1>
    {% if articles|length > 0 %}
    {% for el in articles %}
        <div class="alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Date: {{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">detal</a>
        </div>
    {% endfor %}
    {% else %}
    <p>You have not tasks</p>
    {% endif %}
{% endblock %}



